:root {
    --post-backgraud-color:rgba(243, 243, 243, 0.728); /* Define a CSS variable --comment-color and set its value to red */
  }
  
.postdesign{
    padding: 10px;
    margin: 5px;
    background-color: var(--post-backgraud-color);
    color:black;
    float:left;
    border-radius: 10px;
    width: 600px;
    position: relative;

}
post{
    padding: 10px;
    margin: 5px;
    background-color:var(--post-backgraud-color);
    color:black;
    width: 2000px;

}
.icons-container{
    list-style-type: none;

}
li{
    display: inline-block;
    
}
.comments{
    background-color: var(--post-backgraud-color);
    border-radius: 5px;
    width: 300px;
    text-align: left; 

}
ul{
    padding-inline-start: 0px;
}
.action_list li {
    background-color: var(--post-backgraud-color); /* Set the border style, size, and color */
    width: 130px;
    border-radius: 10px;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
.action_list li:hover{
      background-color: lightgray; /* Change background color to gray */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.action_text li span {
    margin-left: 5px; /* Add some space between the icon and the text */
}
.input_comments{
    border: 1px solid #b3acac; /* Set the border style, size, and color */
    width: 450px;
    border-radius: 10px;
    height: 30px;
    

}

.bi-three-dots {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    cursor: pointer;
  }
  .tooltip {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;;
    border-radius: 5px;
    font-size: 0.8em;
    color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it's above other elements */
    display: none;
  }
  img{
    width: 550px;
    margin: 15px;
  }