.postdesign{
    padding: 10px;
    margin: 5px;
    background-color: rgb(226, 225, 230);
    color:black;
    float:left;
    border-radius: 10px;
    width: 200px;

}
post{
    padding: 10px;
    margin: 5px;
    background-color: rgba(209, 207, 212, 0.863);
    color:black;
    width: 2000px;

}